.btn-add-item {
  width: 150px;
  margin-top: 20px;
}

.mondal-in-add-item {
  flex-direction: column;
}

.form-add-item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.input-add-item {
  width: 300px;
}

.type {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.btn-add {
  background-color: var(--color-one);
}

.btn-reset {
  background: none;
  color: red;
}

.btn-reset:hover {
  background-color: #f0f0f0;
}